@import "variables";

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: $black;
  font-family: $inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $white;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-style: none;
  background: unset;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: $container-width;
  padding: 0 44px;
  margin: 0 auto;
  @media (max-width: $mobile-bp) {
    padding: 0 26px;
  }
}